<div class="container">
  <div class="row">
    
    <div class="col-lg-2 card mx-1 my-4 shadow-lg">
      <h1>left</h1>
    </div>
    
    <div class="col-lg-6 card mx-1 my-4 shadow-lg">
      <h1>center</h1>
    </div>
    
    <div class="col-lg-2 card mx-1 my-4 shadow-lg">
      <h1>left</h1>
    </div>
    
  </div>
</div>

<!--<h1>Homes#top</h1>-->
<!--<p>Find me in app/views/homes/top.html.erb</p>-->
