<div class="alert alert-danger"  role="alert">
  <%= validate.errors.count %>つのエラーがあります。
  <% validate.errors.full_messages.each do |message| %>
    <ul>
      <ui><%= message %></ui>
    </ul>
  <% end %> 
</div>